<ion-header>
  <ion-navbar> <ion-title>Choose Testimonials</ion-title> </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing..."
    >
    </ion-refresher-content>
  </ion-refresher>
  
  <ion-list>
    <br />
	Choose any {{genericSetting ? genericSetting.noOfTstmQuestion : " " }} questions.
	<br />
    <ion-item *ngFor="let tstm of allTstm; let i = index">
      <ion-label> 
        <!--
		{{traitService.replaceWithUsername(tstm.tstmQuestion,frdInfo.fullname)}}
		-->
		{{tstm.tstmQuestion}}
      </ion-label>
      <ion-toggle [(ngModel)]="tstm.isActiveForUser" (ionChange)="settingChange(tstm)"></ion-toggle>
    </ion-item>
  </ion-list>
  <!-- <div *ngFor="let tstm of allTstm; let i = index">
    <span> {{ tstm.tstmQuestion }} </span>
  </div> -->
</ion-content>
