<ion-header>
	<ion-navbar>
		<ion-title>Trait Details</ion-title>
		<!-- <button ion-button icon-only (click)="presentPopover($event)">
			<ion-icon name="more"></ion-icon>
		</button> -->
	</ion-navbar>
</ion-header>

<ion-content padding>
	<ion-row>
		<ion-col col-6 class="singleTraits {{trait.traituniqueid}} isMyConti_{{trait.mytraitcontibution}}">
			<ion-item >
				<div class="pos-number isMyContiPos_{{trait.mypositive}}" (click)="giveVoteToFriend(trait.traitname,0)">
					<div class="tempClass">
						{{trait.positive}}
						<ion-icon name="arrow-dropup"></ion-icon>
					</div>
				</div>
				<div class="neg-number isMyContiNeg_{{trait.mynegetive}}" (click)="giveVoteToFriend(trait.traitname,1)">
					<div class="tempClass">
						{{trait.negetive}}
						<ion-icon name="arrow-dropdown"></ion-icon>
					</div>
				</div>
				<div class="traitIcon traitIcon_{{i}}" name="happy" (click)="openTraitDetails(trait.traitname)"></div>
				<div class="traitName"(click)="openTraitDetails(trait.traitname)">{{trait.traitname}}</div>
			</ion-item>
		</ion-col>
		<ion-col col-6 class="singleTraits {{trait.traituniqueid}} isMyConti_{{trait.mytraitcontibution}}">
			<ion-item >
				<div class="traitAction  hideTrait_{{traitDetails ? traitDetails.hideTrait : 0}}" (click)="hideTrait(trait)">Hide trait <ion-icon ios="ios-eye-off" md="md-eye-off"></ion-icon></div>
				<div class="traitAction hideCount_{{traitDetails ? traitDetails.hideCount : 0}}" (click)="hideCount(trait)">Hide Counts <ion-icon ios="ios-ribbon" md="md-ribbon"></ion-icon></div>
				<div class="traitAction deleteTrait" (click)="deleteTrait(trait)">Delete trait <ion-icon ios="ios-trash" md="md-trash"></ion-icon></div>
			</ion-item>
		</ion-col>
	</ion-row>
	<ion-row>
		<ion-item>
			<div class="traitAction">slider value = {{sliderValue}}</div>
			<div class="traitAction">Avgerage Score = {{traitDetails ? traitDetails.avgScore : 0}}</div>
		</ion-item>
		<ion-item>
			<ion-range min="0" max="10" step="1" snaps="true" color="secondary" [(ngModel)]="sliderValue"  (ionChange)="sliderChange(trait)"></ion-range>
		</ion-item>
	</ion-row>
	<ion-row style="background:#fff;margin-top: 5px;">
		<ion-col>
		<div>
			<textarea  [(ngModel)]="newComment" >
			</textarea>
			<button (click)="addNewComment()">Send</button>
		</div>
		<hr />
			<div  *ngFor="let comment of comments" class="commentBox commentId-{{comment.commentId}}">
				<div class="commentArea"><strong>{{comment.commentedBy}} : </strong>{{comment.commentsText}}</div>
				<div class="commentOperations">
					<span (click)="replyToComment(comment.commentId)">Reply</span>
					<span (click)="commentLikeDislike(comment.commentId,1)">Like: {{comment.likeCount}}</span>
					<span (click)="commentLikeDislike(comment.commentId,2)">Dislike: {{comment.disLikeCount}}</span>
					<span>Date: {{comment.commentedDate}}</span>
				</div>
				<div [ngClass]="{'hide':replyTo != comment.commentId}">
					<textarea [(ngModel)]="newReplyComment" >
					</textarea>
					<button (click)="addNewReplyComment(comment.commentId)" >Send</button>
				</div>
				
				<div  *ngFor="let commentReply of comment.reply" class="commentBox commentId-{{commentReply.commentId}}">
					<div class="commentArea"><strong>{{commentReply.commentedBy}} : </strong>{{commentReply.commentsText}}</div>
					<div class="commentOperations">
						<span (click)="replyToComment(commentReply.commentId)">Reply</span>
						<span (click)="commentLikeDislike(commentReply.commentId,1)">Like: {{commentReply.likeCount}}</span>
						<span (click)="commentLikeDislike(commentReply.commentId,2)">Dislike: {{commentReply.disLikeCount}}</span>
						<span>Date: {{commentReply.commentedDate}}</span>
					</div>
					<div [ngClass]="{'hide':replyTo != commentReply.commentId}">
						<textarea [(ngModel)]="newReplyComment" >
						</textarea>
						<button (click)="addNewReplyComment(commentReply.commentId)" >Send</button>
					</div>
				</div>
				
				
			</div>
		</ion-col>
	</ion-row>
</ion-content>
