<ion-header>
	<ion-navbar>
		<ion-title>Trait Details</ion-title>
		<button ion-button icon-only *ngIf="!frdProfile" (click)="presentPopover($event)">
			<ion-icon name="more"></ion-icon>
		</button>
	</ion-navbar>
</ion-header>

<ion-content #contentRef (ionScroll)="traitService.scrollingFun($event)" [ngClass]="traitService.isAnonymousMode() ? 'anonymousMode' : 'privateMode'">
	<ion-row class="userProfie">
		<ion-col col-3 class="userPhoto">
			<img src="assets/imgs/userIcon.png">
		</ion-col>
		<ion-col col-7 class="userInfo">
			<div class="userName">
			{{frdInfo.fullname}}
			</div>
			<div class="userAbout" *ngIf="traitDetails">
				<span *ngIf="traitDetails.isHidden">Trait Hiddden</span>
				<span *ngIf="!traitDetails.isHidden">Trait Visible</span>
				|
				<span *ngIf="traitDetails.isTraitCountHidden">Count Hiddden</span>
				<span *ngIf="!traitDetails.isTraitCountHidden">Count Visible</span>
			</div>
		</ion-col>
		
		<ion-col col-2 class="userInfoLike" (click)="traitService.changeVisibilityMode()">
			 <div *ngIf="!traitService.isAnonymousMode()" >
				 <ion-icon name="eye"></ion-icon>
			 </div>
			 <div *ngIf="traitService.isAnonymousMode()" >
				 <ion-icon name="eye-off"></ion-icon>
			 </div>
		</ion-col>
	</ion-row>
	<ion-row class="traitScore" *ngIf="traitDetails">
		<ion-col offset-3 col-6 class="traitAvgScore" *ngIf="showCount">
		{{traitDetails ? traitDetails.totalRating : 0}}
		</ion-col>
		<ion-col offset-3 col-6 class="singleTraits {{traitDetails.traitUniqueid}} isMyConti_{{traitDetails.mytraitcontibution}}">
			<ion-item >
				<div class="pos-number isMyContiPos_{{traitDetails.myPositive}}" (click)="giveVoteToFriend(traitDetails,1)">
					<div class="tempClass">
						<span *ngIf="showCount">{{traitDetails.positiveCount}}</span>
						<ion-icon name="arrow-dropup"></ion-icon>
					</div>
				</div>
				<div class="neg-number isMyContiNeg_{{traitDetails.myNegative}}" (click)="giveVoteToFriend(traitDetails,0)">
					<div class="tempClass">
						<span *ngIf="showCount">{{traitDetails.negativeCount}}</span>
						<ion-icon name="arrow-dropdown"></ion-icon>
					</div>
				</div>
				<div class="traitIcon traitIcon_{{traitDetails.traitName | lowercase}}"></div>
				<div class="traitName">{{traitDetails.traitName}}</div>
			</ion-item>
		</ion-col>
	</ion-row>
	<div class="contentMainPanel">
	<ion-row class="traitRating" *ngIf="traitDetails">
		<ion-col col-12>
		<div class="panelHeader" (click)="traitService.togglePanel('rating')" [ngClass]="{active: traitService.isPanelShow('rating')}">
			<span>Rating</span>
			<div *ngIf="traitService.isPanelShow('rating')" >
				<ion-icon name="arrow-forward"></ion-icon>
			</div>
			<div *ngIf="!traitService.isPanelShow('rating')" >
				<ion-icon name="arrow-down"></ion-icon>
			</div>
		</div>
		<div class="panelContent" [ngClass]="{hidePanel: traitService.isPanelShow('rating')}">
			<div class="ratingComponent clearfix">
				<span class="traitRate traitRate_0" [ngClass]="{'active': myRatingRound === 0}" (click)="sliderChange(traitDetails,0)">0</span>
				<span class="traitRate traitRate_1" [ngClass]="{'active': myRatingRound === 1}" (click)="sliderChange(traitDetails,1)">1</span>
				<span class="traitRate traitRate_2" [ngClass]="{'active': myRatingRound === 2}" (click)="sliderChange(traitDetails,2)">2</span>
				<span class="traitRate traitRate_3" [ngClass]="{'active': myRatingRound === 3}" (click)="sliderChange(traitDetails,3)">3</span>
				<span class="traitRate traitRate_4" [ngClass]="{'active': myRatingRound === 4}" (click)="sliderChange(traitDetails,4)">4</span>
				<span class="traitRate traitRate_5" [ngClass]="{'active': myRatingRound === 5}" (click)="sliderChange(traitDetails,5)">5</span>
				<span class="traitRate traitRate_6" [ngClass]="{'active': myRatingRound === 6}" (click)="sliderChange(traitDetails,6)">6</span>
				<span class="traitRate traitRate_7" [ngClass]="{'active': myRatingRound === 7}" (click)="sliderChange(traitDetails,7)">7</span>
				<span class="traitRate traitRate_8" [ngClass]="{'active': myRatingRound === 8}" (click)="sliderChange(traitDetails,8)">8</span>
				<span class="traitRate traitRate_9" [ngClass]="{'active': myRatingRound === 9}" (click)="sliderChange(traitDetails,9)">9</span>
				<span class="traitRate traitRate_10" [ngClass]="{'active': myRatingRound === 10}" (click)="sliderChange(traitDetails,10)">10</span>
			</div>
		</div>
			<!-- <ion-item>
			<ion-range min="0" max="10" step="1" snaps="true" color="secondary" [(ngModel)]="sliderValue"  (ionChange)="sliderChange(trait)"></ion-range>
			</ion-item> -->
		</ion-col>
	</ion-row>
	<ion-row class="traitComments">
		<ion-col col-12>
		<div class="panelHeader" (click)="traitService.togglePanel('comment')" [ngClass]="{active: traitService.isPanelShow('comment')}">
			<span>
				Comments
			</span>
			<div *ngIf="traitService.isPanelShow('comment')" >
				<ion-icon name="arrow-forward"></ion-icon>
			</div>
			<div *ngIf="!traitService.isPanelShow('comment')" >
				<ion-icon name="arrow-down"></ion-icon>
			</div>
		</div>
		<div class="panelContent" [hidden]="traitService.isPanelShow('comment')" [ngClass]="{hidePanel: traitService.isPanelShow('comment')}">		
			<div class="commentpost">
				<textarea  [(ngModel)]="newComment" >
				</textarea>
				<button (click)="addNewComment()">
					<ion-icon name="send"></ion-icon>
				</button>
			</div>
			<div *ngFor="let comment of comments" class="commentBox commentId-{{comment.commentId}}">
				<div class="commentArea clearfix">
					<div class="sectLeft">
						<ion-icon name="person"></ion-icon>
					</div>
					<div class="sectRight">
						<strong class="commentBy">{{comment.commentBy}}</strong> <span class="commentDate">@ {{comment.commentDate}}</span>
						<div class="commentText">{{comment.commentText}}</div>
					</div>
				</div>
				<div class="commentOperations">
					<span (click)="commentLikeDislike(comment.commentId,1)" class="actionBtn like">
						<ion-icon name="thumbs-up"></ion-icon><span>{{comment.likeCount}}</span>
					</span>
					<span (click)="commentLikeDislike(comment.commentId,2)" class="actionBtn dislike">
						<ion-icon name="thumbs-down"></ion-icon><span>{{comment.disLikeCount}}</span>
					</span>
					<span (click)="replyToComment(comment.commentId)" class="actionBtn reply">
						<ion-icon name="share-alt"></ion-icon>
					</span>					
				</div>
				<div  *ngFor="let commentReply of comment.reply" class="commentBox commentId-{{commentReply.commentId}}">
					<div class="commentArea"><strong>{{commentReply.commentBy}} : </strong>{{commentReply.commentText}}</div>
					<div class="commentOperations">
						<span (click)="replyToComment(commentReply.commentId)">Reply</span>
						<span (click)="commentLikeDislike(commentReply.commentId,1)">Like: {{commentReply.likeCount}}</span>
						<span (click)="commentLikeDislike(commentReply.commentId,2)">Dislike: {{commentReply.disLikeCount}}</span>
						<span>Date: {{commentReply.commentDate}}</span>
					</div>
					<div [ngClass]="{'hide':replyTo != commentReply.commentId}">
						<div class="commentpost">
							<textarea [(ngModel)]="newReplyComment" >
							</textarea>
							<button (click)="addNewReplyComment(commentReply.commentId)" >
								Send
								<ion-icon name="send"></ion-icon>
							</button>
						</div>
					</div>
				</div>
				<div [ngClass]="{'hide':replyTo != comment.commentId}" style="margin-left:40px;">
					<div class="commentpost">
						<textarea [(ngModel)]="newReplyComment" >
						</textarea>
						<button (click)="addNewComment(comment.commentId)" >
							<ion-icon name="send"></ion-icon>
						</button>
					</div>
				</div>
			</div>
		</div>
		</ion-col>
	</ion-row>
	<ion-row class="traitPublicVoting" *ngIf="publicVotes">
		<ion-col col-12>
			<div class="panelHeader" (click)="traitService.togglePanel('voting')" [ngClass]="{active: traitService.isPanelShow('voting')}">
				<span>Public Votes</span>
				<div *ngIf="traitService.isPanelShow('voting')" >
					<ion-icon name="arrow-forward"></ion-icon>
				</div>
				<div *ngIf="!traitService.isPanelShow('voting')" >
					<ion-icon name="arrow-down"></ion-icon>
				</div>
			</div>
			<div class="panelContent" [ngClass]="{hidePanel: traitService.isPanelShow('voting')}">
				<div *ngFor="let vote of publicVotes">
					<div><strong>Voter name</strong> --> <span>{{vote.votersName}}</span></div>
					<div><strong>Agree Or Disagree</strong> --> <span>{{vote.agreeOrDisagree}}</span></div>
					<div><strong>Rating</strong> --> <span>{{vote.rating}}</span></div>
					{{isAnonymous ? 'Anonymous' : 'Public'}}
					<br />
				</div>
			</div>
		</ion-col>
	</ion-row>
	</div>
	<div class="traitAcceptanceOverlay bgOverlay" *ngIf="newTrait">
		<div class="traitAcceptance clearfix">
			<div class="agreeTrait traitAction" (click)="acceptTrait('Accept')">
				<ion-icon name="checkmark"></ion-icon>
				Accept
			</div>
			<div class="disagreeTrait traitAction" (click)="acceptTrait('Reject')">
				<ion-icon name="close"></ion-icon>
				Reject
			</div>
		</div>
	</div>
</ion-content>
