<ion-header>
    <ion-navbar> 
      <ion-row> 
        <ion-col col-1>  
          <ion-icon class="menu_icon" name="menu" (click)="traitService.toggleMenu()"></ion-icon>
        </ion-col>
        <ion-col col-9>
          <ion-label class="header_label">My Contacts</ion-label> 
        </ion-col> 
        <ion-col col-2> 
		<div *ngIf="!showSyncContact">
			<ion-icon ios="ios-refresh" md="md-refresh" (click)="syncContacts()" style="font-size:30px;position:absolute;top:3px;right:32px;"></ion-icon>
		</div>
		<div *ngIf="showSyncContact">
			<ion-spinner name="bubbles" style="font-size:30px;position:absolute;top:3px;right:32px;color:#f00" ></ion-spinner>
		</div>
        </ion-col>
      </ion-row>
    </ion-navbar>
  </ion-header>

<ion-content #contentRef fullscreen (ionScroll)="traitService.scrollingFun($event)">
  <ion-searchbar [(ngModel)]="myInput" [showCancelButton]="shouldShowCancel" (ionInput)="onInput($event)" (ionCancel)="onCancel($event)">
  </ion-searchbar>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  
<ion-list *ngIf="!selectFrd">

    <ion-item-sliding class="frdRequestRecived"  *ngFor="let friend of friendList.myRecievedfriendrequest ; let i=index">
    <ion-item>
    <ion-row>
      <ion-col col-2 class="frdListPic">
        <ion-icon class="logo-contact" name="ios-person"></ion-icon>
      </ion-col>
      <ion-col col-7 class="frdListInfo">
        <div class="frdname">{{ friend.fullname }}</div> 
      </ion-col>	  
      <ion-col col-3 class="frdListInfo" (click)="acceptFrdRequest(friend)">
        <div class="frdname">Accept</div> 
      </ion-col>	  
    </ion-row>
    </ion-item>
    <ion-item-options side="right">
      <button ion-button (click)="unread(item)">
		<ion-icon name="thumbs-up"></ion-icon>
		<div>Reject</div>
	  </button>
      <button ion-button (click)="unread(item)">
		<ion-icon name="thumbs-up"></ion-icon>
		<div>Ignore</div>
	  </button>
    </ion-item-options>
  </ion-item-sliding>
  </ion-list>
  <ion-list>
  <ion-item-sliding  class="friends" *ngFor="let friend of friendList.myfriends ; let i=index">
    <ion-item>
    <ion-row>
      <ion-col col-2 class="frdListPic" (click)="openFriendProfile(friend)">
        <ion-icon class="logo-contact" name="ios-person"></ion-icon>
      </ion-col>
      <ion-col col-7 class="frdListInfo" (click)="openFriendProfile(friend)">
        <div class="frdname">{{ friend.fullname }}</div> 
      </ion-col>	  
    </ion-row>
    </ion-item>
    <ion-item-options side="right">
		<button ion-button (click)="unread(item)">
			<ion-icon name="ios-bowtie-outline"></ion-icon>
			<!--<div>Traits</div>-->
			<div>99+</div>
		</button>
		<button ion-button (click)="unread(item)">
			<ion-icon name="ios-ribbon-outline"></ion-icon>
			<!--<div>Badges</div>-->
			<div>99+</div>
		</button>
		<button ion-button (click)="unread(item)">
			<ion-icon name="ios-chatbubbles-outline"></ion-icon>
			<!--<div>Other</div>-->
			<div>99+</div>
		</button>
    </ion-item-options>
  </ion-item-sliding>
</ion-list>
<ion-list *ngIf="!selectFrd">
	<hr />Friend Requests Sent
    <ion-item-sliding class="frdRequestsSent"  *ngFor="let friend of friendList.mySentfriendrequest ; let i=index">
    <ion-item>
    <ion-row>
      <ion-col col-2 class="frdListPic">
        <ion-icon class="logo-contact" name="ios-person"></ion-icon>
      </ion-col>
      <ion-col col-7 class="frdListInfo">
        <div class="frdname">{{ friend.fullname }}</div> 
      </ion-col>	  	  
    </ion-row>
    </ion-item>
    <ion-item-options side="right">
      <button ion-button (click)="unread(item)">
		<ion-icon name="thumbs-up"></ion-icon>
		<div>Reject</div>
	  </button>
      <button ion-button (click)="unread(item)">
		<ion-icon name="thumbs-up"></ion-icon>
		<div>Ignore</div>
	  </button>
    </ion-item-options>
  </ion-item-sliding>	
</ion-list>
<ion-list *ngIf="!selectFrd">
    <ion-item-sliding class="allOtherContacts" *ngFor="let friend of friendList.myContactList ; let i=index">
    <ion-item>
    <ion-row>
      <ion-col col-2 class="frdListPic">
        <ion-icon class="logo-contact" name="ios-person"></ion-icon>
      </ion-col>
      <ion-col col-7 class="frdListInfo">
        <div class="frdname">{{ friend.fullname }}</div> 
      </ion-col>	  
      <ion-col col-3 class="frdListInfo" (click)="sendFrdRequest(friend)">
        <div class="frdname">Send Req</div> 
      </ion-col>	  	  
    </ion-row>
    </ion-item>
    <ion-item-options side="right">
      <button ion-button (click)="unread(item)">
		<ion-icon name="thumbs-up"></ion-icon>
		<div>Reject</div>
	  </button>
      <button ion-button (click)="unread(item)">
		<ion-icon name="thumbs-up"></ion-icon>
		<div>Ignore</div>
	  </button>
    </ion-item-options>
  </ion-item-sliding>
	<hr />
  <ion-item-sliding class="inviteFriends">
    <ion-item>
    <ion-row (click)="inviteFriend()">
      <ion-col col-2 class="frdListPic">
         <ion-icon class="logo-share" md="md-share"></ion-icon>
      </ion-col>
      <ion-col col-10 class="frdListInfo">
        <div class="frdname">Invite a friend</div> 
      </ion-col>
    </ion-row>
    </ion-item>
  </ion-item-sliding>
</ion-list>
</ion-content>