
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<ion-header>
    <ion-navbar>
        <ion-row>
            <ion-col col-1>
                <ion-icon class="menu_icon" name="menu" (click)="traitService.toggleMenu()"></ion-icon>
            </ion-col>
            <ion-col col-9>
                <ion-label  *ngIf="!frdProfile" class="header_label">My Page</ion-label>
                <ion-label  *ngIf="frdProfile" class="header_label">Friend's Page</ion-label>
            </ion-col>
            <ion-col col-2>
                <ion-icon class="profile_icon" name="notifications" (click)="openProfilePage()"></ion-icon> 
            </ion-col>
        </ion-row>
    </ion-navbar>
</ion-header>

<ion-content #contentRef (ionScroll)="traitService.scrollingFun($event)" [ngClass]="traitService.isAnonymousMode() ? 'anonymousMode' : 'privateMode'">
	<ion-row class="userProfie">
		<ion-col col-3 class="userPhoto">
			<img src="assets/imgs/userIcon.png">
		</ion-col>
		<ion-col col-7 class="userInfo">
			<div class="userName">
			{{frdInfo.fullname}}
			</div>
			<div class="userAbout">
				User status or little description of user 
			</div>
		</ion-col>
		<ion-col col-2 class="userInfoLike" (click)="traitService.changeVisibilityMode()">
			 <div *ngIf="!traitService.isAnonymousMode()" >
				 <ion-icon name="eye"></ion-icon>
			 </div>
			 <div *ngIf="traitService.isAnonymousMode()" >
				 <ion-icon name="eye-off"></ion-icon>
			 </div>
		</ion-col>
	</ion-row>
	
	<!--
	<button ion-button ion-long-press [interval]="400" (onPressStart)="openActionSheet()" (onPressing)="active()" (onPressEnd)="released()">test</button>
	-->	
	
	<ion-segment [(ngModel)]="section">
        <ion-segment-button value="trait">
            <span class="tabs-font">Traits</span>
        </ion-segment-button>
        <ion-segment-button value="badges">
            <span class="tabs-font">badges</span>
        </ion-segment-button>
        <ion-segment-button value="testimonials">
            <span class="tabs-font">Testimonials</span>
        </ion-segment-button>
    </ion-segment>
    <div [ngSwitch]="section">
        <div *ngSwitchCase="'trait'" class="sectionTrait">
            <ion-row>
				<ion-searchbar [(ngModel)]="search_string" [formControl]="searchControl" (ionInput)="filterTraits()" (ionClear)="cancelSearch()" placeholder="Search and add traits"
					#searchInput class="search-trait-style">
				</ion-searchbar>
                <ion-list>
                    <ion-item *ngFor="let trait of traitsMasterList">
                        <div style="padding-left: 20px;" (click)="addCustomTrait(trait.traitname)">
                            <!-- <input class="hidden-checkbox" type="checkbox" name="popularTraits" value="{{trait.traitname}}" /> -->
                            <h6>{{trait.traitname}}</h6>
                        </div>
                    </ion-item>
                </ion-list>
            </ion-row>
            <ion-row>
				<ion-col col-6 *ngFor="let item of allTraits; let i = index" class="singleTraits {{item.traituniqueid}} 
				isMyConti_{{item.mytraitcontibution}} 
				isHidden_{{item.isHidden ? true : false}}
				isCntHidden_{{item.isTraitCountHidden ? true : false}}
				isWaiting_{{item.isWaitingForApproval ? true : false}}
				isFrd_{{frdProfile ? true : false}}" 
				[ngClass]="{'hideTrait':item.isHidden && frdProfile}">
					<ion-item >
						<!-- <ion-icon name="close" class="close-icon" *ngIf="!frdProfile" (click)="presentConfirm(item.traituniqueid)"></ion-icon> -->
						<div class="pos-number isMyContiPos_{{item.mypositive}}" (click)="giveVoteToFriend(item,1)">
							<div class="tempClass">
								<span *ngIf="!(frdProfile && item.isTraitCountHidden)">{{item.positive}}</span>
								<ion-icon name="arrow-dropup"></ion-icon>
							</div>
						</div>
						<div class="neg-number isMyContiNeg_{{item.mynegative}}" (click)="giveVoteToFriend(item,0)">
							<div class="tempClass">
								<span *ngIf="!(frdProfile && item.isTraitCountHidden)" >{{item.negative}}</span>
								<ion-icon name="arrow-dropdown"></ion-icon>
							</div>
						</div>
						<div class="traitIconBg traitIconBg_{{i}}" (click)="openTraitDetails(item)">
							<div class="traitIcon traitIcon_{{item.traitname | lowercase}}"></div>
						</div>
						<div class="traitName"(click)="openTraitDetails(item)">{{item.traitname}}</div>
					</ion-item>
				</ion-col>
            </ion-row>
            <ion-row *ngIf="noTrait">
                <ion-col col-12 style="padding:5px;background:white">
                    <span>&nbsp;&nbsp;No Traits Available</span>
                </ion-col>
            </ion-row>

        </div>
<div *ngSwitchCase="'testimonials'" class="testimonials">
<ion-list class="accordion-list">
<!-- First Level -->
<ion-list-header *ngFor="let item of information; let i = index" no-lines no-padding>
<!-- Toggle Button -->
<button ion-item (click)="toggleSection(i)" detail-none [ngClass]="{'section-active': item.open, 'section': !item.open}">
<ion-icon item-left name="arrow-forward" *ngIf="!item.open"></ion-icon>
<ion-icon item-left name="arrow-down" *ngIf="item.open"></ion-icon>
{{ item.name }}
</button>

<ion-list *ngIf="item.children && item.open" no-lines class="accordionSection">
<div *ngIf="i == 0 ">
<ion-row>
<ion-col col-6 class="singleTrait">
<ion-item>
<div class="pos-number">
<div class="tempClass">
0
<ion-icon name="arrow-dropup"></ion-icon>
</div>
</div>
<div class="neg-number">
<div class="tempClass">
0
<ion-icon name="arrow-dropdown"></ion-icon>
</div>
</div>
<div class="traitIconBg traitIconBg_0">
<div class="traitIcon traitIcon_cool"></div>
</div>
<div class="traitName">Cool</div>
</ion-item>
</ion-col>
<ion-col col-6 class="singleTrait">
<ion-item>
<div class="pos-number">
<div class="tempClass">
0
<ion-icon name="arrow-dropup"></ion-icon>
</div>
</div>
<div class="neg-number">
<div class="tempClass">
0
<ion-icon name="arrow-dropdown"></ion-icon>
</div>
</div>
<div class="traitIconBg traitIconBg_0">
<div class="traitIcon traitIcon_confident"></div>
</div>
<div class="traitName">Confident</div>
</ion-item>
</ion-col>
</ion-row>
</div>
<div *ngIf="i == 1 ">			
<div class="traitComments">
<div class="commentBox commentId-0">
<div class="commentArea clearfix">
<div class="sectLeft">
<ion-icon name="person"></ion-icon>
</div>
<div class="sectRight">
<strong>Yuvraj</strong> 
<div>Dummy text Dummy text Dummy text </div>
</div>
</div>
</div>
</div>
<div class="traitComments">
<div class="commentBox commentId-1">
<div class="commentArea clearfix">
<div class="sectLeft">
<ion-icon name="person"></ion-icon>
</div>
<div class="sectRight">
<strong>Radha</strong>
<div>Another comment another comment </div>
</div>
</div>
</div>
</div>
<div class="traitComments">
<div class="commentBox commentId-0">
<div class="commentArea clearfix">
<div class="sectLeft">
<ion-icon name="person"></ion-icon>
</div>
<div class="sectRight">
<strong>Yuvraj</strong>	
<div>Dummy text Dummy text Dummy text </div>
</div>
</div>
</div>
</div>
<div class="traitComments">
<div class="commentBox commentId-1">
<div class="commentArea clearfix">
<div class="sectLeft">
<ion-icon name="person"></ion-icon>
</div>
<div class="sectRight">
<strong>Radha</strong>	
<div>Another comment another comment </div>
</div>
</div>
</div>
</div>
<div class="traitComments">
<div class="commentBox commentId-0">
<div class="commentArea clearfix">
<div class="sectLeft">
<ion-icon name="person"></ion-icon>
</div>
<div class="sectRight">
<strong>Yuvraj</strong>	
<div>Dummy text Dummy text Dummy text </div>
</div>
</div>
</div>
</div>
<div class="traitComments">
<div class="commentBox commentId-1">
<div class="commentArea clearfix">
<div class="sectLeft">
<ion-icon name="person"></ion-icon>
</div>
<div class="sectRight">
<strong>Radha</strong>
<div>Another comment another comment </div>
</div>
</div>
</div>
</div>
</div>
</ion-list>

</ion-list-header>
</ion-list>




</div>
        <div *ngSwitchCase="'badges'" class="badgeWrapper">
            <ion-row class="bagdesToOthers" *ngIf="!frdProfile" >
                <ion-col col-6 class="badgeSection badgesAvailable">
					<div class="badgeTitle">
						Available Badges
					</div>
					<div class="badgeInfo clearfix" (click)="openBadgesFor('availableBadges','view')">
						<div class="addBadgeIcons">
							<div>
								<img src="assets/imgs/badge_1.png">
							</div>
							<div>
								<img src="assets/imgs/badge_2.png">
							</div>
							<div>
								<img src="assets/imgs/badge_1.png">
							</div>
						</div>
						<div class="badgeCnt">{{availableBadgesCnt || '0' }}</div>
						<div class="addBadgeBtn">
							<ion-icon name="add"></ion-icon>
						</div>
					</div>
                </ion-col>
                <ion-col col-6 class="badgeSection badgesGiven">
					<div class="badgeTitle">
						Badges Given
					</div>
					<div class="badgeInfo clearfix" (click)="openBadgesFor('givenBadges')">
						<div class="addBadgeBtn">
							<ion-icon name="more"></ion-icon>
						</div>
						<div class="badgeCnt">{{givenBadgesCnt || '0' }}</div>
						<div class="addBadgeIcons">
							<div>
								<img src="assets/imgs/badge_3.png">
							</div>
							<div>
								<img src="assets/imgs/badge_3.png">
							</div>
							<div>
								<img src="assets/imgs/badge_3.png">
							</div>
						</div>
					</div>
                </ion-col>
            </ion-row>
			<ion-row class="bagdesToOwn">
			<br/>
               <!--  <ion-col col-6 class="singleBadge clearfix" *ngIf="frdProfile" (click)="openBadgesFor('availableBadges','give')">
					<div class="badgeInfo">
						<div class="badgeCaption">
							Give a Badge
						</div>
					</div>
				</ion-col> -->
                <ion-col col-6 class="singleBadge clearfix" *ngFor="let recBadge of receivedBadgesObj" (click)="openBadgeInfo(recBadge)">
					<div class="badgeIcon">
						<img src="assets/imgs/badge_1.png">
					</div>
					<div class="badgeInfo">
						<div class="badgeCaption">
							{{recBadge.badgeName}}
						</div>
						<div class="badgeCount">
							{{recBadge.badgeCount}}
						</div>
					</div>
				</ion-col>
			</ion-row>
        
			<ion-fab bottom right edge *ngIf="frdProfile" (click)="openBadgesFor('availableBadges','give')">
				<button ion-fab mini>
					<ion-icon class="fab_icon" name="add"></ion-icon>
				</button>
			</ion-fab> 
		</div>
    </div>
    <!-- <ion-fab bottom right edge (click)="openTraitsList()">
        <button ion-fab mini>
            <ion-icon class="fab_icon" name="add"></ion-icon>
        </button>
    </ion-fab>  -->
</ion-content>