<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<ion-header>
  <ion-navbar>
    <ion-row>
      <ion-col col-1>
        <ion-icon
          class="menu_icon"
          name="menu"
          (click)="traitService.toggleMenu()"
        ></ion-icon>
      </ion-col>
      <ion-col col-9>
        <ion-label *ngIf="!frdProfile" class="header_label">My Page</ion-label>
        <ion-label *ngIf="frdProfile" class="header_label"
          >Friend's Page</ion-label
        >
      </ion-col>
      <ion-col col-2>
        <ion-icon
          class="profile_icon"
          name="notifications"
          (click)="openProfilePage()"
        ></ion-icon>
      </ion-col>
    </ion-row>
  </ion-navbar>
</ion-header>

<ion-content
  #contentRef
  (ionScroll)="traitService.scrollingFun($event)"
  [ngClass]="traitService.isAnonymousMode() ? 'anonymousMode' : 'privateMode'"
>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing..."
    >
    </ion-refresher-content>
  </ion-refresher>
  <ion-row class="userProfie">
    <ion-col col-3 class="userPhoto" (click)="openProfilePage()">
      <img src="assets/imgs/userIcon.png" />
    </ion-col>
    <ion-col col-7 class="userInfo">
      <div class="userName">{{ frdInfo.fullname }}</div>
      <div class="userAbout">User status or little description of user</div>
    </ion-col>
    <ion-col
      col-2
      class="userInfoLike"
      (click)="traitService.changeVisibilityMode()"
    >
      <div *ngIf="!traitService.isAnonymousMode()">
        <ion-icon name="eye"></ion-icon>
      </div>
      <div *ngIf="traitService.isAnonymousMode()">
        <ion-icon name="eye-off"></ion-icon>
      </div>
    </ion-col>
  </ion-row>

  <!--
	<button ion-button ion-long-press [interval]="400" (onPressStart)="openActionSheet()" (onPressing)="active()" (onPressEnd)="released()">test</button>
	-->

  <ion-segment [(ngModel)]="section" (ionChange)="selectedTabChanged($event)">
    <ion-segment-button value="trait">
      <span class="tabs-font">Traits</span>
    </ion-segment-button>
    <ion-segment-button value="badges">
      <span class="tabs-font">badges</span>
    </ion-segment-button>
    <ion-segment-button value="testimonials">
      <span class="tabs-font">Testimonials</span>
    </ion-segment-button>
  </ion-segment>
  <div [ngSwitch]="section" class="frdProfile_{{ frdProfile }}">
    <div
      *ngSwitchCase="'trait'"
      class="sectionTrait"
      (swipeleft)="changeTab('badges')"
    >
      <ion-row>
        <ion-searchbar
          [(ngModel)]="search_string"
          [formControl]="searchControl"
          (ionInput)="filterTraits()"
          (ionClear)="cancelSearch()"
          placeholder="Search and add traits"
          #searchInput
          class="search-trait-style"
        >
        </ion-searchbar>
        <button
          class="addTraitBtn disable-hover button button-md button-default button-default-md"
          (click)="addTrait()"
        >
          <span class="button-inner">Add Trait</span>
        </button>
        <ion-list>
          <ion-item *ngFor="let trait of traitsMasterList">
            <div
              style="padding:10px 20px;"
              (click)="addCustomTrait(trait.traitname)"
            >
              <!-- <input class="hidden-checkbox" type="checkbox" name="popularTraits" value="{{trait.traitname}}" /> -->
              <h6>{{ trait.traitname }}</h6>
            </div>
          </ion-item>
        </ion-list>
      </ion-row>
      <ion-row>
        <ion-col
          col-6
          *ngFor="let item of allTraits; let i = index"
          class="singleTraits {{ item.traituniqueid }} 
				isMyConti_{{ item.mytraitcontibution }} 
				isHidden_{{ item.isHidden ? true : false }}
				isCntHidden_{{ item.isTraitCountHidden ? true : false }}
				isWaiting_{{ item.isWaitingForApproval ? true : false }}
				isFrd_{{ frdProfile ? true : false }}"
          [ngClass]="{ hideTrait: item.isHidden && frdProfile }"
        >
          <ion-item
            (press)="traitLongPressed(item)"
            [ngClass]="{ selected: item.usertraitid == selectedItem }"
          >
            <div
              class="pos-number isMyContiPos_{{ item.mypositive }}"
              (click)="giveVoteToFriend(item, 1)"
            >
              <div class="tempClass">
                <span *ngIf="!(frdProfile && item.isTraitCountHidden)">{{
                  item.positive
                }}</span>
                <ion-icon name="arrow-dropup"></ion-icon>
              </div>
            </div>
            <div
              class="neg-number isMyContiNeg_{{ item.mynegative }}"
              (click)="giveVoteToFriend(item, 0)"
            >
              <div class="tempClass">
                <span *ngIf="!(frdProfile && item.isTraitCountHidden)">{{
                  item.negative
                }}</span>
                <ion-icon name="arrow-dropdown"></ion-icon>
              </div>
            </div>
            <div
              class="traitIconBg traitIconBg_{{ i }}"
              (click)="openTraitDetails(item)"
            >
              <div class="traitIcon">
                <img
                  [src]="item.traiticonpath"
                  onerror="this.src='assets/imgs/dummyTrait.png'"
                  alt=""
                />
              </div>
            </div>
            <div class="traitName" (click)="openTraitDetails(item)">
              {{ item.traitname }}
            </div>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="noTrait">
        <ion-col col-12 style="padding:5px;background:white">
          <span>&nbsp;&nbsp;No Traits Available</span>
        </ion-col>
      </ion-row>
    </div>

    <div
      *ngSwitchCase="'testimonials'"
      class="testimonials"
      (swiperight)="changeTab('badges')"
    >
      <ion-row class="testimonial-accordion">
        <ion-col col-12 *ngFor="let tstm of myTstm; let i = index">
          <div
            class="panelHeader"
            (click)="traitService.togglePanel(tstm.id)"
            [ngClass]="{ active: traitService.isPanelShow(tstm.id) }"
          >
            <span> {{ tstm.tstmQuestion }} </span>
            <div *ngIf="traitService.isPanelShow(tstm.id)">
              <ion-icon name="ios-arrow-down-outline"></ion-icon>
            </div>
            <div *ngIf="!traitService.isPanelShow(tstm.id)">
              <ion-icon name="ios-arrow-up-outline"></ion-icon>
            </div>
          </div>
          <div
            class="panelContent"
            [hidden]="traitService.isPanelShow(tstm.id)"
            [ngClass]="{ hidePanel: traitService.isPanelShow(tstm.id) }"
            (click)="openTstmDetails(tstm.testimonialid)"	
          >
            <div *ngFor="let tstmComment of tstm.testimonials">
              <div class="commentBox commentId-112">
                <div class="commentArea clearfix">      
                  <div class="sectLeft">      
                    <ion-icon name="person" role="img" class="icon icon-md ion-md-person" aria-label="person" ng-reflect-name="person"></ion-icon>      
                  </div>      
                  <div class="sectRight">      
                    <span class="commentBy">{{ tstmComment.tstmGivenByName ? tstmComment.tstmGivenByName : "Anonymous" }}</span> <span class="commentDate">@ {{traitService.calcuateTime(tstmComment.updateDate)}}</span>      
                    <div class="commentText">{{ tstmComment.testimonial }}</div>      
                  </div>      
                </div>      
              </div>
            </div>
            <div class="writeResponse"> Write a rsponse </div>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <button
          class="addPageBtn"
          ion-button
          *ngIf="!frdProfile"
          (click)="openTstmMaster()"
        >
          Choose Testimonials
        </button>
      </ion-row>
    </div>

    <div
      *ngSwitchCase="'badges'"
      class="badgeWrapper"
      (swipeleft)="changeTab('testimonials')"
      (swiperight)="changeTab('trait')"
    >
      <!-- <h1 class="textCenter">Coming Soon</h1> -->

      <ion-row class="bagdesToOthers" *ngIf="!frdProfile">
        <ion-col col-6 class="badgeSection badgesAvailable">
          <div class="badgeTitle">Available Badges</div>
          <div
            class="badgeInfo clearfix"
            (click)="openBadgesFor('availableBadges', 'view')"
          >
            <div class="addBadgeIcons">
              <div><img src="assets/imgs/badge_1.png" /></div>
              <div><img src="assets/imgs/badge_2.png" /></div>
              <div><img src="assets/imgs/badge_1.png" /></div>
            </div>
            <div class="badgeCnt">{{ availableBadgesCnt || "0" }}</div>
            <div class="addBadgeBtn"><ion-icon name="add"></ion-icon></div>
          </div>
        </ion-col>
        <ion-col col-6 class="badgeSection badgesGiven">
          <div class="badgeTitle">Badges Given</div>
          <div
            class="badgeInfo clearfix"
            (click)="openBadgesFor('givenBadges')"
          >
            <div class="addBadgeBtn"><ion-icon name="more"></ion-icon></div>
            <div class="badgeCnt">{{ givenBadgesCnt || "0" }}</div>
            <div class="addBadgeIcons">
              <div><img src="assets/imgs/badge_3.png" /></div>
              <div><img src="assets/imgs/badge_3.png" /></div>
              <div><img src="assets/imgs/badge_3.png" /></div>
            </div>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="bagdesToOwn">
        <br />
        <ion-col
          col-6
          class="singleBadge clearfix isAccepted_{{ recBadge.isAccepted }}"
          *ngFor="let recBadge of receivedBadgesObj"
          (click)="openBadgeInfo(recBadge)"
        >
          <div class="badgeIcon"><img src="assets/imgs/badge_1.png" /></div>
          <div class="badgeInfo">
            <div class="badgeCaption">{{ recBadge.badgeName }}</div>
            <div class="badgeCount">{{ recBadge.badgeCount }}</div>
          </div>
        </ion-col>
      </ion-row>

      <ion-fab
        bottom
        right
        edge
        *ngIf="frdProfile"
        (click)="openBadgesFor('availableBadges', 'give')"
      >
        <button ion-fab mini>
          <ion-icon class="fab_icon" name="add"></ion-icon>
        </button>
      </ion-fab>
    </div>
  </div>
</ion-content>
