<ion-header>
	<ion-navbar>
		<ion-title>{{(badgeInfo && badgeInfo.badgeName) ? badgeInfo.badgeName : "Badge Info"}}</ion-title>
	</ion-navbar>
</ion-header>

<ion-content #contentRef (ionScroll)="traitService.scrollingFun($event)" [ngClass]="traitService.isAnonymousMode() ? 'anonymousMode' : 'privateMode'" *ngIf="badgeInfo">
	<h5>{{(badgeInfo && badgeInfo.badgeName) ? badgeInfo.badgeName : "Badge Info"}}</h5>
	<div *ngFor="let badge of badgeInfo.badgeGivenInfoList">
		<div class="badgeDonner">
			<div class="badgeInfo">
				<div class="username">{{badge.badgeGivenby ? badge.badgeGivenby : 'Anonymously'}}</div>
				<div class="date">{{traitService.calcuateTime(badge.givenDate)}}</div>
			</div>
			<div *ngIf="!badge.isHidden" class="badgeHide btnAction">
				<ion-icon name="eye" (click)="hideUnhideBadge(badge.userBadgeid,true)"></ion-icon>
			</div>
			<div *ngIf="badge.isHidden" class="badgeHide btnAction">
				<ion-icon name="eye-off" (click)="hideUnhideBadge(badge.userBadgeid,false)"></ion-icon>
			</div>
			<div class="badgeDelete btnAction">
				<ion-icon name="close" (click)="deleteBadge(badge.userBadgeid)"></ion-icon>
			</div>			
		</div >
		<br />
	</div>
</ion-content>
