page-my-profile {
	ion-item.item-select{
		width: 80%;
		margin: 10px auto;
	}
    ion-item.item-input{margin: 10px auto;}
	.uploadPic{    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 3px solid #00c5cd;
    margin: 15px auto;}
	
	.userImage{font-size: 220px;
	color:#00c5cd;
    width: 200px;
    margin: 0 auto;
    text-align: center;
    margin-top: -25px;}
	
	
}
