page-otp {
  .background {
    background-image: url("../assets/imgs/bg_login.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
  }
  .otpContainer {
    min-height: 350px;
  }
}
