page-settings {
  .scroll-content {
    padding: 0px !important;
    background: #fff;
  }
  .list-md .item-block .item-inner {
    border-bottom: none !important;
  }
  .item-md.item-toggle ion-label {
    font-size: 0.8em;
  }
}
