page-tstm-details {

    .testimonials {
        background: #fff;
        .scroll-content{
            padding:0px !important;
        }
        .panelContent {
          border-top: none;
          margin: 0 4px;
          margin-top: -2px;
          .commentBox {
            padding-bottom: 5px;
          }
        }
      }
}
