page-search-bar {
    .searchbar-input{
        border-radius: 25px !important;
    }
    .cancelIcnStyle{
        font-size: 27px;
        margin-top: 11px;
        margin-left: -6px;
    }
    .contentStyle{
        background: rgba(192,192,192,0.4);;
    }   
    .label-md { 
        margin-left: 25px;
    }
}
    